@import url("./root.css");
body{
    background-color: var(--absolute-black);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 1596px;
    height: auto;
}

.logo{
    display: flex;
}

.logo :last-child{
    color: var(--absolute-white);
    font-family: "Lexend", sans-serif;
}

nav{
    display: flex;
    gap: 26px;
}

nav a{
    text-decoration: none;
    color: var(--absolute-white);
    font-family: "Lexend", sans-serif;

}

.cadastro{
    width: 69px;

    background-color: transparent;
    border: 0px none transparent;
    color: var(--absolute-white);
    font-family: "Lexend", sans-serif;
}

.login{
    width: 109px;
    height: 55px;

    background-color: var(--green-60);
    border-radius: 82px;
    border: 0px none transparent;
    color: var(--grey-11);
    font-family: "Lexend", sans-serif;
}

main{
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;

}

.main-description{
    display: flex;
    flex-direction: column;

}

.main-description h1{
    width: 825px;
}


.title-white{
    color: var(--absolute-white);
    font-size: 48px;
    font-family: "Lexend", sans-serif;
}

.title-green{
    color: var(--green-60);
    font-size: 48px;
    font-family: "Lexend", sans-serif;
}

.main-description p{
    font-size: 18px;
    font-family: "Lexend",sans-serif;
    color: var(--white-90);
    width: 825px;
}

.but-open{
    width: 183px;
    height: 55px;

    background-color: var(--green-60);
    border-radius: 82px;
    border: 0px none transparent;
    color: var(--grey-11);
    font-family: "Lexend", sans-serif;
}